<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Online Videoke">
    <meta name="author" content="EJ Perez">

    <title>Youtubeoke | Online Videoke</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

<div id="wrapper" v-bind:class="{ toggled: isSideMenuShown }">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <a href="#"><h1>Youtubeoke</h1></a>
                </div>
                <div class="col-md-12">

                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#" v-on:click="activeTab = 1">Search</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#" v-on:click="activeTab = 2">Playlist ({{ this.playlistCount }})</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane" v-bind:class="{ active: activeTab === 1}">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form" v-on:submit.prevent="searchSong">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input v-model="formData.q" type="text" class="form-control"
                                                           placeholder="Search for...">
                                                <span class="input-group-btn"><button class="btn btn-default">Go!
                                                </button></span>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="col-md-12">
                                        <ul v-if="searchResults.length">
                                            <li v-for="item in searchResults">
                                                <img v-bind:src="item.image" alt=""/>

                                                <p>{{ item.title }}</p>

                                                <p>{{ item.channel }}</p>

                                                <button v-on:click="addToPlaylist( item )">Add to playlist</button>
                                                <button v-on:click="playSong( item )">Play</button>
                                            </li>
                                        </ul>
                                        <p v-else>No item in search results.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane" v-bind:class="{ active: activeTab === 2}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul v-if="playlist.length">
                                            <li v-for="(item, index) in playlist">
                                                <img v-bind:src="item.image" alt=""/>

                                                <p>{{ item.title }}</p>

                                                <p>{{ item.channel }}</p>

                                                <button v-on:click="playSong( item )">Play</button>
                                                <button v-on:click="deleteSong( index )">Delete</button>
                                            </li>
                                        </ul>
                                        <p v-else>No item in playlist.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="player"></div>
                    </div>
                    <h2 v-if="currentSong">Now playing: {{ currentSong.title }}</h2>

                    <p v-else>Search a song to begin.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#menu-toggle" class="btn btn-sm btn-secondary" id="menu-toggle"
                       v-on:click="isSideMenuShown = !isSideMenuShown">Toggle Menu</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>
